In [1]:
import numpy as np
import pandas as pd

In [11]:
data = [5, 7, 9, 25, 19]
index = ['A', 'B', 'C', 'D', 'E']

In [12]:
series1 = pd.Series(data)
series1

0     5
1     7
2     9
3    25
4    19
dtype: int64

In [23]:
series1[4]

19

In [14]:
series1 = pd.Series(data, index)
series1

A     5
B     7
C     9
D    25
E    19
dtype: int64

In [17]:
series1['A']

5

In [16]:
series1['B']

7

In [20]:
series1[['A','D']]

A     5
D    25
dtype: int64

In [24]:
series1[series1 > 10]

D    25
E    19
dtype: int64

In [27]:
series1[series1 > 10].min()

19

In [28]:
series1[series1 > 10].max()

25

In [29]:
series1[series1 > 10].sum()

44

In [31]:
series1[series1 > 10].mean()

22.0

In [32]:
data = np.array([5, 7, 9, 25, 19])
index = ['A', 'B', 'C', 'D', 'E']

In [36]:
series1 = pd.Series(index=index, data=data)
series1

A     5
B     7
C     9
D    25
E    19
dtype: int32

In [38]:
dict = {'A':5, 'B':1, 'C':0, 'D':-7, 'E':45}

In [39]:
pd.Series(dict)

A     5
B     1
C     0
D    -7
E    45
dtype: int64

In [47]:
np.random.seed(101)
np.random.randn(5)

array([2.70684984, 0.62813271, 0.90796945, 0.50382575, 0.65111795])

In [69]:
df = pd.DataFrame(np.random.randn(5,4), index=['MX', 'ES', 'CH', 'EN', 'IT'], columns=['A','B','C','D'])
df

           A         B         C         D
MX -0.409318  0.343539  0.196275 -0.982776
ES  2.231555 -0.971393 -1.522333  1.133703
CH  0.528187  0.393461 -0.630507 -1.398290
EN -0.219311 -0.045676  0.012421  0.093628
IT  1.240813 -1.097693 -1.908009 -0.380104

In [55]:
df['A']

MX    0.333973
ES    2.302987
CH    0.243178
EN   -0.578120
IT    0.674485
Name: A, dtype: float64

In [56]:
type(df['A'])

pandas.core.series.Series

In [57]:
df[['A','C']]

           A         C
MX  0.333973  2.117727
ES  2.302987 -0.863091
CH  0.243178 -1.560931
EN -0.578120  0.200780
IT  0.674485  0.780140

In [61]:
df.loc[['MX','EN']]

           A         B         C         D
MX  0.333973 -0.532471  2.117727  0.197524
EN -0.578120  0.236996  0.200780  0.327845

In [64]:
df[['A','C']].loc[['MX','EN']]

           A         C
MX  0.333973  2.117727
EN -0.578120  0.200780

In [65]:
df[['A','C']].loc[['MX','EN']] = 0

C:\Users\egelm\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\egelm\anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [68]:
df[['A','C']] = 0
df

      A         B    C         D
MX  0.0 -0.532471  0.0  0.197524
ES  0.0  0.729024  0.0  0.305632
CH  0.0  0.864165  0.0 -0.251897
EN  0.0  0.236996  0.0  0.327845
IT  0.0 -0.174057  0.0 -0.383258

In [72]:
np.random.seed(101)
df = pd.DataFrame(np.random.randn(5,4), index=['MX', 'ES', 'CH', 'EN', 'IT'], columns=['A','B','C','D'])
df

           A         B         C         D
MX  2.706850  0.628133  0.907969  0.503826
ES  0.651118 -0.319318 -0.848077  0.605965
CH -2.018168  0.740122  0.528813 -0.589001
EN  0.188695 -0.758872 -0.933237  0.955057
IT  0.190794  1.978757  2.605967  0.683509

In [75]:
df['PROC'] = df['A'] + df['D']
df

           A         B         C         D      PROC
MX  2.706850  0.628133  0.907969  0.503826  3.210676
ES  0.651118 -0.319318 -0.848077  0.605965  1.257083
CH -2.018168  0.740122  0.528813 -0.589001 -2.607169
EN  0.188695 -0.758872 -0.933237  0.955057  1.143752
IT  0.190794  1.978757  2.605967  0.683509  0.874303

In [77]:
df.drop('PROC', axis=1)

           A         B         C         D
MX  2.706850  0.628133  0.907969  0.503826
ES  0.651118 -0.319318 -0.848077  0.605965
CH -2.018168  0.740122  0.528813 -0.589001
EN  0.188695 -0.758872 -0.933237  0.955057
IT  0.190794  1.978757  2.605967  0.683509

In [78]:
df

           A         B         C         D      PROC
MX  2.706850  0.628133  0.907969  0.503826  3.210676
ES  0.651118 -0.319318 -0.848077  0.605965  1.257083
CH -2.018168  0.740122  0.528813 -0.589001 -2.607169
EN  0.188695 -0.758872 -0.933237  0.955057  1.143752
IT  0.190794  1.978757  2.605967  0.683509  0.874303

In [79]:
df.drop('PROC', axis=1, inplace=True)

In [80]:
df

           A         B         C         D
MX  2.706850  0.628133  0.907969  0.503826
ES  0.651118 -0.319318 -0.848077  0.605965
CH -2.018168  0.740122  0.528813 -0.589001
EN  0.188695 -0.758872 -0.933237  0.955057
IT  0.190794  1.978757  2.605967  0.683509

In [81]:
df.drop('CH', axis=0)

           A         B         C         D
MX  2.706850  0.628133  0.907969  0.503826
ES  0.651118 -0.319318 -0.848077  0.605965
EN  0.188695 -0.758872 -0.933237  0.955057
IT  0.190794  1.978757  2.605967  0.683509

In [86]:
df.reset_index(inplace=True)

In [87]:
df

  index         A         B         C         D
0    MX  2.706850  0.628133  0.907969  0.503826
1    ES  0.651118 -0.319318 -0.848077  0.605965
2    CH -2.018168  0.740122  0.528813 -0.589001
3    EN  0.188695 -0.758872 -0.933237  0.955057
4    IT  0.190794  1.978757  2.605967  0.683509

In [88]:
df['new_index'] = df['index'] + "2"

In [90]:
df.set_index('new_index', inplace=True)

In [92]:
df.drop('index', axis=1, inplace=True)

In [93]:
df

                  A         B         C         D
new_index
MX2        2.706850  0.628133  0.907969  0.503826
ES2        0.651118 -0.319318 -0.848077  0.605965
CH2       -2.018168  0.740122  0.528813 -0.589001
EN2        0.188695 -0.758872 -0.933237  0.955057
IT2        0.190794  1.978757  2.605967  0.683509

In [94]:
df > 0

               A      B      C      D
new_index
MX2         True   True   True   True
ES2         True  False  False   True
CH2        False   True   True  False
EN2         True  False  False   True
IT2         True   True   True   True

In [96]:
df[df > 0] = 0

In [98]:
df

                  A         B         C         D
new_index
MX2        0.000000  0.000000  0.000000  0.000000
ES2        0.000000 -0.319318 -0.848077  0.000000
CH2       -2.018168  0.000000  0.000000 -0.589001
EN2        0.000000 -0.758872 -0.933237  0.000000
IT2        0.000000  0.000000  0.000000  0.000000

In [100]:
np.random.seed(101)
df = pd.DataFrame(np.random.randn(5,4), index=['MX', 'ES', 'CH', 'EN', 'IT'], columns=['A','B','C','D'])
df

           A         B         C         D
MX  2.706850  0.628133  0.907969  0.503826
ES  0.651118 -0.319318 -0.848077  0.605965
CH -2.018168  0.740122  0.528813 -0.589001
EN  0.188695 -0.758872 -0.933237  0.955057
IT  0.190794  1.978757  2.605967  0.683509

In [104]:
df[(df['A'] > 0) & (df['C'] > 0)]

           A         B         C         D
MX  2.706850  0.628133  0.907969  0.503826
IT  0.190794  1.978757  2.605967  0.683509