In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("prueba.csv")
df

   W     X     Y    Z
0  5  2.50  4.70  0.0
1  3  0.36  2.58  0.0
2 -1  5.20  8.78  7.0
3  4  0.00  3.20  7.4

In [8]:
df.to_csv("prueba_mod.csv", index=False)

In [10]:
df = pd.read_csv("prueba2.csv", index_col=0)
df

   W     X     Y    Z
A  5  2.50  4.70  0.0
B  3  0.36  2.58  0.0
C -1  5.20  8.78  7.0
D  4  0.00  3.20  7.4

In [16]:
df["SUM"] = df.sum(axis = 1)
df

   W     X     Y    Z    SUM
A  5  2.50  4.70  0.0  12.20
B  3  0.36  2.58  0.0   5.94
C -1  5.20  8.78  7.0  19.98
D  4  0.00  3.20  7.4  14.60

In [ ]:
df.to_csv("prueba2_mod.csv")